{% extends "_templates/basic_template.html" %}
{% load static %}

{% block blockhead %}<link rel="stylesheet" href="{% static 'css/registrar.css' %}">{% endblock %}
{% block blocktitle %}ServiHos - Registrar encargado{% endblock blocktitle %}

{% block menu %}
    {% include "_templates/menu_template.html" %}
{% endblock %}

{% block contenido %}

<main>

    <section>
        <h1>Editar Hospedados</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar cambios</button>
        </form>
        <a href="{% url 'listar_hospedados' %}">← Volver a la lista</a>

    </section>

</main>


{% endblock contenido %}