{% extends "_templates/basic_template.html" %}
{% load static %}

{% block blockhead %}<link rel="stylesheet" href="{% static 'css/registrar.css' %}">{% endblock %}
{% block blocktitle %}ServiHos - Registrar encargado{% endblock blocktitle %}

{% block contenido %}

<main>

    <section>
        <h1>Listar usuarios</h1>

        {% if usuarios %}
        <table>
            <thead>
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>Email</th>
                    <th>RUT</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.rut_usr_hospederia }}</td>
                        <td>{{ usuario.pasaporte_usr_hospederia }}</td>
                        <td>{{ usuario.primer_nombre_usr_hospederia }}</td>
                        <td>{{ usuario.segundo_nombre_usr_hospederia }}</td>
                        <td>{{ usuario.primer_apellido_usr_hospederia }}</td>
                        <td>{{ usuario.segundo_apellido_usr_hospederia }}</td>
                        <td>{{ usuario.fecha_nacimiento_usr_hospederia }}</td>
                        <td>{{ usuario.id_tipo_discapacidad }}</td>
                        <td>{{ usuario.nacionalidad_usr_hospederia }}</td>
                        <td>{{ usuario.id_hospederia }}</td>
                        <td>{{ usuario.mostrar_en_reportes }}</td>
                        <td>
                            <form method="post" action="{% url 'eliminar_hospedados' usuario.rut_usr_hospederia %}">
                                {% csrf_token %}
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>

                        <td>
                            <a href="{% url 'editar_hospedado' usuario.rut_usr_hospederia %}">Editar</a>
                        </td>
                       
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay usuarios registrados.</p>
    {% endif %}
       
        

    </section>

</main>


{% endblock contenido %}