{% extends "_templates/basic_template.html" %}
{% load static %}

{% block blockhead %}
<link rel="stylesheet" href="{% static 'css/perfil_usuario.css' %}">
{% endblock %}

{% block blocktitle %}ServiHos - Perfil del Usuario{% endblock %}

{% block contenido %}
<main>
    <section class="perfil-container">
        <div class="info-grupo">
            <div class="datos-izquierda">
                <p><strong>Nombre:</strong> {{ usuario.primer_nombre_usr_hospederia }} {{ usuario.segundo_nombre_usr_hospederia }} {{ usuario.primer_apellido_usr_hospederia }} {{ usuario.segundo_apellido_usr_hospederia }}</p>
                <p><strong>Fecha de nacimiento:</strong> {{ usuario.fecha_nacimiento_usr_hospederia }}</p>
                <p><strong>Edad:</strong> {{ edad }}</p>
                <p><strong>RUT:</strong> {{ usuario.rut_usr_hospederia }}</p>
                <p><strong>Hospedería:</strong> {{ usuario.id_hospederia.nombre_hospederia }}</p>
            </div>

            <div class="datos-derecha">
                <p><strong>Fecha de registro:</strong> {{ usuario.fecha_registro|date:"d/m/Y" }}</p>
                <p><strong>Fecha de ingreso:</strong>
                    {% if ultimo_registro %}
                        {{ ultimo_registro.hora_entrada|date:"d/m/Y H:i" }}
                    {% else %}
                        Sin registros
                    {% endif %}
                </p>

                <p><strong>Fecha de salida:</strong>
                    {% if ultimo_registro %}
                        {{ ultimo_registro.hora_salida|date:"d/m/Y H:i" }}
                    {% else %}
                        Sin registros
                    {% endif %}
                </p>

                <a href="{% url 'registro_usuario_hospederia' usuario.rut_usr_hospederia %}">Registrar Ingreso</a>
            </div>
        </div>

        <div class="seccion-servicios">
            <div class="servicio-item">
                <label>Alimentación:</label>
                <span>Cantidad: 8</span>
            </div>
            <div class="servicio-item">
                <label>Higiene:</label>
                <span>Cantidad: 8</span>
            </div>
            <div class="servicio-item">
                <label>Ropería:</label>
                <span>Cantidad: 2</span>
            </div>
            <div class="servicio-item">
                <label>Pernoctación:</label>
                <span>Cantidad: 10</span>
            </div>
            <div class="servicio-item">
                <label>Asistencia Ambulatoria:</label>
                <span>Cantidad: 3</span>
            </div>
        </div>

        <!-- BOTÓN: Ver historial de ingreso -->
        <div class="ver-historial">
            <a class="boton-historial" href="{% url 'historial_registros_usuario' usuario.rut_usr_hospederia %}">
                Ver historial de ingreso
            </a>
        </div>
    </section>
</main>
{% endblock %}
