{% extends "_templates/basic_template.html" %}
{% load static %}

{% block blockhead %}
<link rel="stylesheet" href="{% static 'css/perfil_usuario.css' %}">
{% endblock %}

{% block blocktitle %}ServiHos - Perfil del Usuario{% endblock %}

{% block menu %}
    {% include "_templates/menu_template.html" %}
{% endblock %}

{% block contenido %}
<main>
    <section class="perfil-container">
        <div class="info-grupo">
            <div class="datos-izquierda">
                <p><strong>Nombre:</strong> {{ usuario.primer_nombre_usr_hospederia }} {{ usuario.segundo_nombre_usr_hospederia }} {{ usuario.primer_apellido_usr_hospederia }} {{ usuario.segundo_apellido_usr_hospederia }}</p>
                <p><strong>Fecha de nacimiento:</strong> {{ usuario.fecha_nacimiento_usr_hospederia }}</p>
                <p><strong>Edad:</strong> {{ edad }}</p>
                <p><strong>RUT:</strong> {{ usuario.rut_usr_hospederia }}</p>
                <p><strong>Hospedería:</strong> {{ usuario.id_hospederia.nombre_hospederia }}</p>
            </div>

            <div class="datos-derecha">
                <p><strong>Fecha de registro:</strong> {{ usuario.fecha_registro|date:"d/m/Y" }}</p>
                <p><strong>Fecha de ingreso:</strong>
                    {% if ultimo_registro %}
                        {{ ultimo_registro.hora_entrada|date:"d/m/Y H:i" }}
                    {% else %}
                        Sin registros
                    {% endif %}
                </p>

                <p><strong>Fecha de salida:</strong>
                    {% if ultimo_registro %}
                        {{ ultimo_registro.hora_salida|date:"d/m/Y H:i" }}
                    {% else %}
                        Sin registros
                    {% endif %}
                </p>

                <a href="{% url 'registro_usuario_hospederia' usuario.rut_usr_hospederia %}" class="boton-editar">Registrar Ingreso</a>
            </div>
        </div>

        <!-- Conteo total de servicios -->
        <h3 style="margin-top: 30px;">Conteo total de servicios usados</h3>
        <table class="tabla-historial">
            <thead>
                <tr>
                    <th>Servicio/Subservicio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in conteo_servicios.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- BOTÓN: Ver historial de ingreso -->
        <div class="ver-historial" style="margin-top: 20px;">
            <a class="boton-historial" href="{% url 'historial_registros_usuario' usuario.rut_usr_hospederia %}">
                Ver historial de ingreso
            </a>
        </div>
    </section>
</main>
{% endblock %}
