{% extends "_templates/basic_template.html" %}
{% load static %}

{% block blockhead %}
<link rel="stylesheet" href="{% static 'css/registro_usuario_hospederia.css' %}">
{% endblock %}

{% block blocktitle %}ServiHos - Registrar entrada/salida{% endblock %}

{% block contenido %}
<main>
    <section class="perfil-container">
        <h1>Registrar Ingreso</h1>

        <!-- Registro teórico -->
        <div class="info-grupo">
            <h3>Próximo registro teórico</h3>
            <p><strong>Entrada:</strong> {{ preview_entrada|date:"d/m/Y H:i" }}</p>
            {# <p><strong>Salida:</strong> {{ preview_salida|date:"d/m/Y H:i" }}</p> #}
        </div>

        {% if error_msg %}
        <div class="alert alert-danger">{{ error_msg }}</div>
        {% endif %}

        <!-- Formulario -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="botones">
                <button type="reset" class="btn-limpiar">Limpiar campos</button>
                <button type="submit" class="btn-registrar" {% if existe_registro_hoy %}disabled{% endif %}>
                    Completar Ingreso
                </button>
            </div>
        </form>
    </section>
</main>
{% endblock %}
