{% extends "_templates/basic_template.html" %}
{% load static %}

{% block blockhead %}
<link rel="stylesheet" href="{% static 'css/registrar.css' %}">
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block blocktitle %}ServiHos - Registrar encargado{% endblock blocktitle %}

{% block menu %}
    {% include "_templates/menu_template.html" %}
{% endblock %}

{% block contenido %}
<main class="register-main">        
    <section class="register-section">
        <h1>Testing menu</h1>

       <form method="post" class="styled-form">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group {% if field.field.widget.input_type == 'checkbox' %}checkbox-row{% endif %}">
            {% if field.field.widget.input_type == "checkbox" %}
                <label>{{ field.label }}</label>
                {{ field }}
            {% else %}
                <label>{{ field.label }}</label>
                {{ field }}
            {% endif %}
        </div>
        {% if field.errors %}
            <div class="error">{{ field.errors }}</div>
        {% endif %}
    {% endfor %}
    <button class="button" type="submit">Registrar</button>
</form>

    </section>
</main>

{% endblock contenido %}
