{% extends "_templates/basic_template.html" %}
{% load static %}

{% block blockhead %}
<link rel="stylesheet" href="{% static 'css/listar_encargado.css' %}">
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block blocktitle %}ServiHos - Listar encargado{% endblock blocktitle %}

{% block menu %}
    {% include "_templates/menu_template.html" %}
{% endblock %}

{% block contenido %}
<main class="listar-encargado">

    <sectio>  
        <h1>Listar usuarios</h1>

        {% if usuarios %}
        <table>
            <thead>
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>Email</th>
                    <th>RUT</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.rut }}</td>
                        <td>{{ usuario.tipo }}</td>
                        <td>
                            <form method="post" action="{% url 'eliminar_ecargados' usuario.id %}">
                                {% csrf_token %}
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay usuarios registrados.</p>
    {% endif %}
       
        

    </section>

</main>


{% endblock contenido %}