    {% extends "_templates/basic_template.html" %}
    {% load static %}

    {% block blockhead %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    {% endblock %}
    {% block blocktitle %}ServiHos - Testing{% endblock blocktitle %}

    {% block menu %}
        {% include "_templates/menu_template.html" %}
    {% endblock %}

    {% block contenido %}
        {% if user.is_authenticated %}
            <section>
                <h1>Panel de Resumen</h1>
                <div class="panel-resumen">
                    <div class="resumen-card">
                        <h2>{{ total_servicios }}</h2>
                        <p>Total de Servicios utilizados</p>
                    </div>
                    <div class="resumen-card subservicios">
                        <h2>{{ total_subservicios }}</h2>
                        <p>Total de Subservicios utilizados</p>
                    </div>
                    <div class="resumen-card usuarios">
                        <h2>{{ total_usuarios_hospederia }}</h2>
                        <p>Total de usuarios de <br>hospedería registrados</p>
                    </div>
                    <div class="resumen-card ingresos">
                        <h2>{{ usuarios_ingresaron_hoy }} / 20</h2>
                        <p>Usuarios de hospedería <br>ingresados hoy</p>
                    </div>
                </div>

                <h2 class="titulo-historico">Uso histórico por servicio y subservicio</h2>
                <div class="tabla-historico-index-container">
                    <table class="tabla-historico-index">
                        <thead>
                            <tr>
                                <th>Servicio/Subservicio</th>
                                <th>Cantidad de usos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in conteo_servicios.items %}
                            <tr>
                                <td>{{ key }}</td>
                                <td class="cantidad">{{ value }}</td>
                            </tr>
                            {% empty %}
                            <tr><td colspan="2" class="centrado">No hay registros históricos.</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        {% endif %}
    {% endblock contenido %}