    {% extends "_templates/basic_template.html" %}
    {% load static %}

    {% block blockhead %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    {% endblock %}
    {% block blocktitle %}ServiHos - Testing{% endblock blocktitle %}

    {% block menu %}
        {% include "_templates/menu_template.html" %}
    {% endblock %}

    {% block contenido %}
        <section>
            <h1>Testing</h1>
            <p>Hola mundo!</p>
        </section>
    {% endblock contenido %}