{% load static %}
<!DOCTYPE html>
<head>
    {% block blockhead %}    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <title>{% block blocktitle %}{% endblock %}</title>
</head>
<body>

    <header>
        <marca>Servi<span>Hos</span></marca>
        <a class="button" href="" >Login</a>
    </header>

    {% block contenido %}
    {% endblock %}

    <footer>
        <p>ServiHos - testing</p>
    </footer>

</body>
</html>