{% load static %}
<!DOCTYPE html>
<head>
    {% block blockhead %}    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <title>{% block blocktitle %}{% endblock %}</title>
</head>
<body>

    <header>
        <div class="logo">
            <a href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo de ServiHos" style="height: 50px;" >
            </a>
            <a href="{% url 'index' %}">
            <marca>ServiHos</marca>
            </a>
        </div>
    </header>
    
    <div class="layout">
        {% block menu %}
        {% endblock %}
        <main>
            {% block main %}
            {% endblock %}
            {% block contenido %}
            {% endblock %}
        </main>
    </div>


</body>
</html>