{% block menu %}
<section class="sidebar">
    <!-- Iniciar sesión -->
    {% if not user.is_authenticated %}
    <h1>Inicie Sesión</h1>
    <div class="botones">
        <a class="card" href="{% url 'iniciar_sesion' %}">Iniciar sesión <br>💁‍♂️</a>
    </div>
    <div>
        <p>⚠️No se ha iniciado sesión</p>
    </div>
    {% endif %}
    <!-- Fin iniciar sesión -->
    <!-- Segmento del menu que se oculta -->
    <section>
    <!-- ...resto del menú... -->
        {% if user.is_authenticated %}
            <h1 class="username"><span style="text-transform: capitalize;"> {{ request.user.get_full_name }}</span>!</h1>
        {% endif %}
        <div class="botones">
            <!-- Menú sesión iniciada -->
            {% if user.is_authenticated and user.tipo|lower == 'administrador' %}

            <a class="card" href="{% url 'registrar_encargado' %}">Registrar encargado </a>
            <a class="card" href="{% url 'lista_encargados' %}">Listar usuarios </a>
            <a class="card" href="{% url 'listar_servicios' %}">Servicios</a>
            <a class="card" href="{% url 'listar_subservicios' %}" class="menu-button">Subservicios</a>
            <a class="card" href="{% url 'historial_registros_totales_general' %}">Reportes</a>
            <a class="card" href="{% url 'subir_usuarios_hospederia' %}">Subir usuarios hospederas (CSV) </a>

            {% elif user.is_authenticated and user.is_superuser %}

            <a class="card" href="{% url 'registrar_encargado' %}">Registrar encargado </a>
            <a class="card" href="{% url 'lista_encargados' %}">Listar usuarios </a>
            <a class="card" href="{% url 'listar_servicios' %}">Servicios</a>
            <a class="card" href="{% url 'listar_subservicios' %}" class="menu-button">Subservicios</a>
            <a class="card" href="{% url 'historial_registros_totales_general' %}">Reportes</a>
            <a class="card" href="{% url 'subir_usuarios_hospederia' %}">Subir usuarios hospederas (CSV) </a>

            {% elif user.is_authenticated and user.tipo|lower == 'encargado' %}

            <a class="card" href="{% url 'listar_hospedados' %}">Listar usuarios en hospedería </a>
            <a class="card" href="{% url 'registrar_hospedado' %}">Registrar usuario en hospedería </a>
            <a class="card" href="{% url 'historial_registros_totales_general' %}">Reportes</a>
            
            {% endif %}
            <!-- Fin Menú sesión iniciada -->
        </div>
        <div class="user-info">
            {% if user.is_authenticated %}
                <a class="button" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
            {% endif %}
        </div>
    </section>
    <!-- Fin del segmento que se oculta -->
</section>
{% endblock %}